.talk{
    width: 100%;
    background-color: #32aa27;

    color: white;

    &_wrapper{
        display: flex;
        align-items: center;
        gap: 80px;
    }
    &_title{
        color: white;

        font-size: 3.875rem;
        font-style: normal;
        font-family: Poppins;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 0px;
        text-transform: none;
        margin-bottom: 10px;
    }

    &_text{
        font-size: 1.5rem;
        font-style: normal;
        font-family: Poppins;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0px;
        text-transform: none;
    }

    &_btn {
        color: white;
        border-color: white;
        background-color: transparent;

        font-size: 1rem;
        font-style: normal;
        font-family: Poppins;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 2px;
        border-width: 2px;


        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        transition: all 0.15s ease-in-out;
        text-decoration: none;
        margin: 0;
        min-height: 50px;
        padding: 10px 30px;
        border: 2px solid;

        touch-action: manipulation;

        cursor: pointer;

        margin-left: 15px;

        &:hover {
            color: #fff;
            border-color: #162415;
            background-color: #162415;
        }

        &:active{
           box-shadow: 0 0 0 2px #32aa27, 0 0 0 4px #595959;

            color: #fff;
            border-color: #595959;
            background-color: #595959;
            
        }
  }

}